body {
    font-family: 'Noto Sans TC', sans-serif !important;
}

h1 {
    font-size:3.5rem !important;
}

.jumbotron {
    padding-top:5% !important;
}

.game-container {
    width:83%;
    margin-left:9%;
    margin-top:5%;
}

.header {
    margin-bottom: 5%;
    justify-content: space-between;
}

#btn-start {
    margin: 1em;
}

.game-row {
    display: flex;
    width:100%;
}

.game-cell{
    border:5px solid rgb(96, 56, 40);
    background-color:rgba(255, 147, 102, 0.25);
    position: relative;
    width: 100%;     /* desired width */
}

.game-cell:before{
    content: "";
    display: block;
    padding-top: 100%;  /* initial ratio of 1:1*/
}

#elipsis {
    height: 1.5rem;
}
