body {
    font-family: 'Quicksand', sans-serif !important;
}

h1 {
    font-size:3.5em !important;
    font-weight: bold !important;
}

.jumbotron {
    padding-top:5% !important;
}

.game-container {
    width:83%;
    margin-left:9%;
    margin-top:5%;
}

.header {
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
}

.header-left {
    display: flex;
}

#btn-start {
    margin: 1em;
}

.board {
    font-weight: bold !important;
}

.game-row {
    display: flex;
    width:100%;
}

.game-cell{
    border:5px solid rgb(96, 56, 40);
    background-color:rgba(255, 147, 102, 0.25);
    font-size: 4em;
    position: relative;
    width: 100%;     /* desired width */
}

.game-cell:before{
    content: "";
    display: block;
    padding-top: 100%;  /* initial ratio of 1:1*/
}

.game-cell > span {
    position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
    text-align:center;
    padding-top:12%;
}

.bg-2 { background-color: #fff7de; }
.bg-4 { background-color: #ffe595; }
.bg-8 { background-color: #ffca26; }
.bg-16 { background-color: #ff944f; }
.bg-32 { background-color: #ff7300; }
.bg-64 { background-color: #ff3630; }
.bg-128 { background-color: #b4e2ff; }
.bg-256 { background-color: #00b3ff; }
.bg-512 { background-color: #0084d6; }
.bg-1024 { background-color: #3172ff; }
.bg-2048 { background-color: #b8ffa3; }
.bg-4096 { background-color: #88f966; }
.bg-8192 { background-color: #3b8525; }
.bg-16384 { background-color: #e5a0f5; }
.bg-32768 { background-color: #764c80; }
.bg-65536 { background-color: #fe00ff; }
.bg-other { background-color: #ffffff; }

#elipsis {
    height: 1.5rem;
}

@media all and (max-width: 750px) {
    h1 {
        margin-top:0.3em !important;
        font-size :2.5em !important;
    }

  .game-container {
      margin:0;
      width:100%;
  }

  .page {
      padding:0;
  }
}

@media all and (max-width: 364px) {
    .header-left {
        display: block;
    }

    #btn-start {
        margin:0;
    }
}
